<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Cryptocurrencies</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
        <h1>Top 50 Cryptocurrencies</h1>
        <% if (locals.coinList) { %>
            <ul class="coin-list">
                <ul class="coin-headers">
                    <li class="coin-header span-3">Coin</li>
                    <li class="coin-header">Price</li>
                    <li class="coin-header">Market Cap</li>
                    <li class="coin-header">24 Hour Change</li>
                </ul>
                <% coinList.forEach((coin, i) => { %>
                    <a href="/coin/<%= coin.uuid %>">
                        <ul class="coin-item">
                            <li class="coin-rank"><%= i + 1 %></li>
                            <li class="coin-icon"><img src="<%= coin.iconUrl %>"></li>
                            <li class="coin-name">
                                <span class="name"><%= coin.name %></span><span class="symbol"><%= coin.symbol %></span></li>
                            <% if (parseFloat(coin.price)) %>
                            <li class="coin-price">$<%= parseFloat(coin.price).toLocaleString('en-US', { maximumSignificantDigits: significantDigits(parseFloat(coin.price)) }) %></li>
                            <li class="coin-market-cap">$<%= parseFloat(coin.marketCap).toLocaleString('en-US') %></li>
                            <li class="coin-change"><%= coin.change %>%</li>
                        </ul>
                    </a>
                <% }); %>
            </ul>
        <% } else { %>
            <p>Something went wrong :(<br>Please try again later.</p>
        <% } %>
    </div>

    <script src="js/main.js"></script>
</body>
</html>